html, pre {
    font-family: 'Menlo', monospace;
    font-size: 14px;
    line-height: 1.5;
}

main {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
}

input {
    width: 100%;
    height: 30px;
    font-size: 1rem;
    border: 1px solid gray;
    text-align: center;
    flex: 2;
}

section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

#mainTitle {
    font-size: 30px;
    text-align: center;
    font-family: 'Helvetica', monospace;
}

#exampleTitle {
    font-size: 20px;
    text-align: left;
    font-family: 'Helvetica', monospace;
}

.sec, label {
    flex: 1;
}

.sec {
    display: inline-block;
    border: 1px solid gray;
    height: 30px;
}

.txtBox{
    font-size: 18px;
}